<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Portal</title>
      <style>
        .global-search {
            width: 400px;
            margin: 50px auto;

        }
        .job-container {
            display: flex;
            gap: 0;
        }
        .job-post-container {
            padding: 5px;
            margin: 10px 0px;
            background-color: #fff;
            border: solid 1px black;
        }
        .job-posts {
            width: 800px;
            margin: 10px auto;
            padding: 20px;
            background-color: #dbe4ff;
        }
        .job-post-container a {
            text-decoration: none;
            color: #444;
        }
        .job-filters {
            width: 200px;
            margin: 10px auto;
            padding: 20px;
            background-color: #f7f7f7;
        }
        .job-filter-section {
            margin-bottom: 10px;
        }
        .job-search-box {
            margin-bottom: 10px;
        }
      </style>
  </head>
  <body>
    <div class="main-container">
      <header>
        <div class="logo"><h1>Dashboard</h1></div>
        <nav>
          <div sec:authorize="hasAuthority('RECRUITER')">
            <a th:href="@{/recruiter/profile}">Edit Profile</a>
            <a th:href="@{/dashboard}">Show Jobs</a>
            <a th:href="@{/job/new}">Post New Job</a>
          </div>
          <div sec:authorize="hasAuthority('CANDIDATE')">
            <a th:href="@{/candidate/profile}">Edit Profile</a>
            <a th:href="@{/candidate/jobs/saved}">Show Saved Jobs</a>
            <a th:href="@{/candidate/jobs/applied}">Show Applied Jobs</a>
          </div>
        </nav>
        <div>
          <img
                  th:if="${profile.profilePhotoPath != null}"
                  th:src="@{${profile.profilePhotoPath}}"
                  alt="profilePhotoPath"
                  width="60px"
                  height="60px"
          >
          <p th:if="${profile.firstName == null && profile.lastName == null}"
             th:text="${username}"></p>
          <p th:if="${profile.firstName != null && profile.lastName != null}"
             th:text="${profile.firstName+' '+profile.lastName}"></p>
        </div>
      </header>

      <div class="job-container">

<!--        <aside class="job-filters" sec:authorize="hasAuthority('CANDIDATE')">-->

<!--          <form th:action="@{/dashboard/}" id="searchJobs">-->
<!--            <div class="job-search-box" sec:authorize="hasAuthority('Job Seeker')">-->
<!--              <input type="text" id="job" placeholder="Search for Job" name="job" th:value="${job}"/>-->
<!--              <input type="text" id="loc" placeholder="Search in Location" name="location" th:value="${location}"/>-->
<!--              <button type="submit" form="searchJobs" value="Search">Search</button>-->
<!--            </div>-->
<!--            <h4>Filter Result</h4>-->
<!--            <div class="job-filter-section">-->
<!--              <label>Employment Type</label>-->
<!--              <div>-->
<!--                <input type="checkbox" id="partTime" name="partTime" th:checked="${partTime}" th:value="Part-Time">-->
<!--                <label for="partTime">Part-Time</label>-->
<!--              </div>-->
<!--              <div>-->
<!--                <input type="checkbox" id="fullTime" name="fullTime" th:checked="${fullTime}" th:value="Full-Time">-->
<!--                <label for="fullTime">Full-Time</label>-->
<!--              </div>-->
<!--              <div>-->
<!--                <input type="checkbox" id="freelance" name="freelance" th:checked="${freelance}" th:value="Freelance">-->
<!--                <label for="freelance">Freelance</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="job-filter-section">-->
<!--              <label>Remote Type</label>-->
<!--              <div>-->
<!--                <input type="checkbox" id="remoteOnly" name="remoteOnly" th:checked="${remoteOnly}" th:value="Remote-Only">-->
<!--                <label for="remoteOnly">Remote-Only</label>-->
<!--              </div>-->
<!--              <div>-->
<!--                <input type="checkbox" id="officeOnly" name="officeOnly" th:checked="${officeOnly}" th:value="Office-Only">-->
<!--                <label for="officeOnly">Office-Only</label>-->
<!--              </div>-->
<!--              <div>-->
<!--                <input type="checkbox" id="partialRemote" name="partialRemote" th:checked="${partialRemote}" th:value="Partial-Remote">-->
<!--                <label for="partialRemote">Partial-Remote</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="job-filter-section">-->
<!--              <label>Date Posted</label>-->
<!--              <div>-->
<!--                <input type="checkbox" id="today" name="today" th:checked="${today}">-->
<!--                <label for="today">Today</label>-->
<!--              </div>-->
<!--              <div>-->
<!--                <input type="checkbox" id="days7" name="days7" th:checked="${days7}">-->
<!--                <label for="days7">Last 7 Days</label>-->
<!--              </div>-->
<!--              <div>-->
<!--                <input type="checkbox" id="days30" name="days30" th:checked="${days30}">-->
<!--                <label for="days30">Last 30 Days</label>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </aside>-->

        <section class="job-posts">

          <h2 sec:authorize="hasAuthority('CANDIDATE')">Candidate Dashboard</h2>
          <h2 sec:authorize="hasAuthority('RECRUITER')">Recruiter Dashboard</h2>

          <th:block th:each="jobPost : ${jobPosts}">

            <div class="job-post-container">
              <a th:href="@{/job/detail/{id}(id=${jobPost.id})}">

                <div class="job-title">
                    <span class="job-text" th:text="${jobPost.title}">
                        job-title
                    </span>
                  <span class="job-text" sec:authorize="hasAuthority('RECRUITER')"
                        th:text="'('+${jobPost.candidatesApplied}+' candidates applied)'">
                        (## candidates applied)
                    </span>
                  <span class="job-text" sec:authorize="hasAuthority('CANDIDATE')"
                        th:if="${jobPost.isApplied}">
                        (applied)
                    </span>
                  <span class="job-text" sec:authorize="hasAuthority('CANDIDATE')"
                        th:if="${jobPost.isSaved}">
                        (saved)
                    </span>
                </div>

                <div class="job-location">
                    <span class="job-text" th:text="${jobPost.jobLocation.city}">
                        city
                    </span>
                  <span class="job-text" th:text="${jobPost.jobLocation.country}">
                        country
                    </span>
                </div>

                <div class="job-company">
                    <span class="job-text" th:text="${jobPost.jobCompany.name}">
                        company-name
                    </span>
                </div>
              </a>
            </div>

          </th:block>
        </section>


      </div>
      <footer></footer>
    </div>
  </body>
</html>
